.sconsign.dblite
*-env
output*
test_output
.DS_Store
._.DS_Store
settings.conf
vault_pass.txt
__pycache__
taxonomy.conf
ncbi_taxonomy.db
taxdmp.zip
nucl_gb.accession2taxid.gz
nucl_wgs.accession2taxid.gz
