<!DOCTYPE html>
<html>
  <head>

    <!-- google charts api -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
    </script>

    <!-- provides ajax -->
    <script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {

      var jsonData = $.ajax({
          url: "{{ json_data }}",
          dataType: "json",
          async: false
          }).responseText;

      // Create our data table out of JSON data loaded from server.
      var data = new google.visualization.DataTable(jsonData);

      var table = new google.visualization.Table(
      document.getElementById('table_div'));
        table.draw(data, {width: '80%', height: '100%', allowHtml: true, sortColumn: 2, sortAscending: false});
      }
    </script>
  </head>
  <body>
    <table>
    {% for item in params.items() | sort %}
    <tr><td><b>{{ item[0] }}:</b> {{ item[1] }}</td></tr>
    {% endfor %}
    </table>
    <table>
    {% for item in deenurp_args.items() | sort %}
    <tr><td>{{ item[0] }}</td> <td>{{ item[1] }}</td></tr>
    {% endfor %}
    </table>
    <div id="table_div"></div>
  </body>
</html>
